body {
    background-color: pink;
}
h1 {
    text-align:center;
}
#firstName {color: brown;}
#lastName {color: blue;}
#nickName {color: brown;}
#Roles {color: blue;text-align:center;}

.sectionName{
 
    color: red;
}

ul.bioSection {
    
    list-style-type: circle;
}

ul.bioSubSection {
 
    list-style-type: square;
}

