body {
    background-color: pink;
    padding-bottom: 250px;
}


.Navbar {
   height: 70px;
   line-height: 40px;

 }
.Navbar ul {
    list-style: none;
	text-align:center;
    border-top:2px dotted brown;
   border-bottom:2px dotted brown;
	margin-left: 150px;
	margin-right: 150px;
      border-radius: 8px;
 }

.Navbar ul li {
  display: inline-block;
  font-size: 100%;
  border-radius: 15px;
  border:2px solid brown;
  border-style: outset;
  background: gray;
   margin-right: 50px;

 } 

/* The navigation menu links */
.Navbar a {
    padding: 10px 40px 10px 40px;
    text-decoration: none;
    font-size: 25px;
    color: LightCoral;
    display: block;
    transition: 0.3s
}

.Navbar a:hover, .offcanvas a:focus{
    color: pink;
}

side navigation */
#main {
    transition: margin-left .9s;
    padding: 30px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .Navbar{padding-top: 15px;}
    .Navbar a {font-size: 18px;}
}

div.static {
    position: static;
  
}
div.Bio {
    position: static;}

div.project {
    position: static;
    border: 5px dotted LightCoral;
 	margin-left:-80px;
	margin-right:-70px;
	margin-bottom:60px;
	padding-bottom:30px;
	padding-left:30px;
	padding-right:30px; 
	border-radius: 20px;

}

div.contact {
    position: static;
    border: 5px double brown;
   margin-left: -10px;
	padding-bottom:30px;
	padding-left:70px;
  border-radius: 100px;}



h1 {
    text-align:center;
}
#Name {color: brown;}

#Roles {color: darkblue; text-align:center;}



section {
    padding-bottom: 50px;
	padding-up:10px;
	padding-left:10px;
	padding-right:20px;
	margin-left: 120px;
	margin-right: 120px;

}
.sectionName{
   padding: 20px;
    color: red;
}

ul.bioSection {
    
    list-style-type: circle;
}

ul.bioSubSection {

    list-style-type: square;
}

