

body {
    background-color: pink;
    padding-bottom: 250px;
}


.Navbar {
   position: static;
   height: 70px;
   line-height: 40px;

 }
.Navbar ul {
    list-style: none;
	text-align:center;
    border-top:2px dotted brown;
   border-bottom:2px dotted brown;
	margin-left: 150px;
	margin-right: 150px;
      border-radius: 8px;
 }

.Navbar ul li {
  display: inline-block;
  font-size: 100%;
  border-radius: 15px;
  border:2px solid brown;
  border-style: outset;
  background: gray;
   margin-right: 50px;

 } 


.Navbar a {
    padding: 10px 40px 10px 40px;
    text-decoration: none;
    font-size: 25px;
    color: LightCoral;
    display: block;
    transition: 0.3s
}

.Navbar a:hover, .offcanvas a:focus{
    color: pink;
}

side navigation */
#main {
    transition: margin-left .9s;

    padding: 30px;
	 position: static;
}

/* On smaller screens, where height is less than 450px, change the style of the nav (less padding and a smaller font size) */
img {
    Max-width=100%;
    border-radius: 8px;
	float:right;
	width:310px;
	height:450px;

}


div.static {
    position: static;
  
}

div.Bio {
	margin-left:0px;margin-right:0px;padding-left:0px;padding-right:0px; 
    }

div.project {

    border: 5px dotted LightCoral;
 	margin-left:-80px;
	margin-right:-70px;
	margin-top:20px;
	margin-bottom:60px;
	padding-bottom:30px;
	padding-left:30px;
	padding-right:30px; 
	border-radius: 20px;

}

div.contact {

    border: 5px double brown;
   margin-left: -10px;
	padding-bottom:30px;
	padding-left:70px;
  border-radius: 100px;}


h1 {
    text-align:center;
}
#Name {color: brown;}

#Roles {color: darkblue; text-align:center;}

.sectionName{
   padding: 20px;
    color: red;
}

section {
    padding-bottom: 50px;
	padding-up:10px;
	padding-left:10px;
	padding-right:20px;
	margin-left: 120px;
	margin-right: 120px;
	font-size: 125%;}

}


ul.bioSection {
    
    list-style-type: circle;
}

ul.bioSubSection {

    list-style-type: square;
}



@media screen and (max-width: 1200px) {
   
    .Navbar { padding: 15px 20px 15px 20px; height: 35px; line-height: 35px;}
    .Navbar a {font-size: 110%;padding: 5px 28px 5px 28px;}
    .Navbar ul {padding: 0px 12px 0px 12px; margin-left: 2px; margin-right: 2px;}
    .Navbar ul li {font-size: 110%; margin-right: 10px;} 
    img {width:260px; height:370px;}
    #main {padding: 0px ;margin-left: -10px;}
    section {padding-bottom: 30px;padding-up:10px;padding-left:0px;padding-right:5px;
margin-left: 50px;margin-right: 50px;font-size: 110%;}
	div.project {margin-left:15px; margin-right:-5px;} 	
	h1{font-size: 160%;} 
	h2{font-size: 130%;} 
	h3{font-size: 120%;} 
}


@media screen and (max-width: 650px) {
   
    .Navbar { padding: 2px 5px 2px 5px; height: 40px; line-height: 20px;}
    .Navbar a {font-size: 100 %;padding: 8px 0px 8px 2px;}
    .Navbar ul {padding: 2px 10px 2px 10px; margin-left: 2px; margin-right: 2px;}
    .Navbar ul li {font-size: 100%; margin-right: 4px;} 
     img {width:150px; height:220px;}
     #main {margin-left: 0px;}
   section { padding-bottom: 20px; padding-up:10px;padding-left:0px;padding-right:-10px; margin-left:0px; margin-right: 15px; font-size: 90%;}  
	div.project {margin-left:17px;margin-right:12px;padding-left:10px;
	padding-right:10px; }  
   	div.contact {padding-left:5px;margin-left: 16px;}
	h1{font-size: 140%;} 
	h2{font-size: 125%;} 
	h3{font-size: 115%;} 

}


@media screen and (max-width: 580px) {
   
    .Navbar { padding: 2px 5px 2px 5px; height: 30px; line-height: 18px;}
    .Navbar a {font-size: 80 %;padding: 6px 0px 6px 2px;}
    .Navbar ul {padding: 2px 2px 2px 2px; margin-left: 2px; margin-right: 2px;}
    .Navbar ul li {font-size: 75%; margin-right: 4px;} 
     img {width:120px; height:180px;}
     #main {margin-left: -20px;}
   section { padding-bottom: 20px; padding-up:10px;padding-left:0px;padding-right:-10px; margin-left:0px; margin-right: 3px; font-size: 90%;}  
	div.project {margin-left:24px;margin-right:0px;padding-left:10px;
	padding-right:10px; }  
   	div.contact {padding-left:4px;margin-left: 11px;}
	h1{font-size: 140%;} 
	h2{font-size: 125%;} 
	h3{font-size: 115%;} 

}


